@import url(reset.css);
@import url(style.css);

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.name {
  position: absolute;
  bottom: 0.5rem;
  padding-left: 2rem;
}
.main-title {
  font-size: 3.2rem;
  color: var(--main-bg-color);
  text-shadow: 1px 1px black;
}
.container-title {
  font-size: 2rem;
  padding: 1rem 0;
}
.left-wrapper {
  padding: 1rem 2rem;
}

.list__link {
  color: rgba(0, 0, 0, 0.753);
}
.text-box:not(:last-child),
.left__text-container:not(:last-child) {
  border-bottom: 1px solid var(--secondary-font-color);
}
.left__text-container {
  padding-top: 1rem;
}
.text-box {
  padding: 1rem 0 2rem;
}
.text-container {
  padding: 1rem 3rem;
}
.container-title,
.subsub-title,
.about_ikon {
  color: var(--main-bg-color);
  font-weight: bold;
}
.list__item {
  padding-bottom: 2rem;
}
.about_ikon {
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.sub-title {
  font-weight: 600;
  padding: 1rem 0 2rem;
}
/*** Grid ***/

.grid-container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "left"
    "right-up"
    "right-down";
  margin: 2rem auto;
  gap: 2rem 1rem;
}
.grid-item {
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.left {
  grid-area: left;
  max-width: 500px;
}
.right-up {
  grid-area: right-up;
  max-width: 500px;
}
.right-down {
  grid-area: right-down;
  max-width: 500px;
}
footer {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  line-height: 2;
}
.footer__list {
  display: flex;
}
.footer__link {
  color: white;
  display: inline-block;
}
.list__padding {
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .grid-container {
    max-width: 1200px;

    grid-template-areas:
      "left . right-up right-up"
      "left . right-down right-down";
    padding: 0 2rem;
  }
  .left {
    max-width: 400px;
  }
  .right-down,
  .right-up {
    max-width: none;
  }
}
