@import url(reset.css);
:root {
  --main-bg-color: rgb(0, 150, 136);
  --primary-font-color: white;
  --secondary-font-color: rgba(0, 0, 0, 0.651);
  --hover-color: rgb(28, 28, 28);
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(241, 241, 241);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-font-color);
}
header {
  height: 5rem;
}
#hamburger-menu {
  display: none;
}
.navbar-logo {
  color: var(--primary-font-color);
  padding-left: 1rem;
  font-size: 2rem;
  transition: 0.5s;
}

.navbar-logo:hover,
.hamburger_ikon:hover {
  color: var(--hover-color);

  text-shadow: 0px 1px var(--secondary-font-color);
}
.menu__label {
  width: 5rem;
  text-align: center;
  cursor: pointer;
}
.menu__link {
  color: var(--primary-font-color);
  transition: 0.5s;
  display: inline-block;
}
.menu__link:hover {
  color: var(--hover-color);
  text-shadow: 1px 1px black;
  transform: scale(1.05);
  font-weight: 900;
}
.main-navigation {
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 5rem;
}
.hamburger_ikon {
  font-size: 2rem;
  color: white;
  transition: 0.5s;
}

.fa-times {
  display: none;
}
.open-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background: var(--main-bg-color);
  opacity: 0.9;
  text-align: center;
  font-size: 1.8rem;
  z-index: 2;
  transform: translate(0%, -150%);
  transform-origin: 0% 0%;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburger-menu:checked ~ .main-navigation .menu__label .fa-times {
  display: block;
  margin-top: 1px;
}
#hamburger-menu:checked ~ .main-navigation .menu__label .fa-bars {
  display: none;
}
#hamburger-menu:checked ~ .open-menu {
  transform: none;
}

/* Base style */
.container_base {
  padding: 10rem 2rem;
  max-width: 100%;
  text-align: center;
}

/* banner */
.banner {
  height: 300px;
}

/* Project style */

#project {
  background: var(--main-bg-color);
}
.project__main-title,
.contact__title {
  font-size: 3rem;
  padding-bottom: 4rem;
  color: var(--primary-font-color);
}
.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project__item {
  background-color: var(--primary-font-color);
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: left;
  width: 500px;
  margin: 0.5rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 5px;
}
.project__item:hover {
  transform: scale(1.05);
}
.item__padding {
  padding: 1rem 2rem;
}
.item__title {
  font-weight: bold;
  font-size: 2rem;
}
/* Footer style */

footer {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: var(--primary-font-color);
}
.footer__list {
  display: flex;
}
.footer__link {
  color: var(--primary-font-color);
}
.list__padding {
  padding: 0 1rem;
}

.footer__cright {
  flex-basis: 100%;
}
.footer__connect {
  padding-right: 1.5rem;
}

/* contact style */
#contact {
  background-color: var(--primary-font-color);
}
.contact__title {
  color: var(--secondary-font-color);
}
form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto auto;
}

.contact__item,
.contact__message {
  display: block;
  width: 100%;
  margin: 1rem 0;
  font-family: "Poppins", sans-serif;
  padding: 2rem 1rem;
  background-color: transparent;
  border: none;
}
.input_box {
  position: relative;
  background-color: rgb(239, 239, 239);
}

.contact__item {
  transition: 0.3s;
}
.contact__message {
  height: 13rem;
}

.submit {
  width: 7rem;
  padding: 1rem 1rem;
  margin: 2rem auto;
  background-color: rgb(239, 239, 239);
}
.label {
  position: absolute;
  top: 18px;

  left: 10px;
  pointer-events: none;
  font-size: 2rem;

  transition: 0.5s;
}
.contact__item:focus ~ .label,
.contact__message:focus ~ .label,
.contact__item:valid ~ .label,
.contact__message:valid ~ .label,
.contact__item:invalid:not(:placeholder-shown) ~ .mail__label {
  top: 0;
  color: var(--main-bg-color);
  font-size: 1.5rem;
}
