@import url(reset.css);
:root {
  --main-bg-color: rgb(0, 150, 136);
  --primary-font-color: white;
  --secondary-font-color: rgba(0, 0, 0, 0.651);
}

html {
  font-size: 10px;
}

body {
  position: relative;
  background-color: rgb(241, 241, 241);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-font-color);
}
#hamburger-menu {
  display: none;
}
.navbar-logo {
  color: var(--primary-font-color);
  padding-left: 1rem;
  font-size: 2rem;
}
.menu__label {
  width: 50px;
  text-align: center;
  cursor: pointer;
}
.main-navigation {
  height: 50px;
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
}
.fa {
  font-size: 25px;
  color: white;
}
.fa-times {
  display: none;
}
.open-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background: var(--main-bg-color);
  opacity: 0.8;
  text-align: center;
  font-size: 1.8rem;
  z-index: 2;
  transform: translate(0%, -150%);
  transform-origin: 0% 0%;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu__link {
  color: var(--primary-font-color);
}
#hamburger-menu:checked ~ .main-navigation .menu__label .fa-times {
  display: block;
  margin-top: 1px;
}
#hamburger-menu:checked ~ .main-navigation .menu__label .fa-bars {
  display: none;
}
#hamburger-menu:checked ~ .open-menu {
  transform: none;
}

.banner {
  height: 1000px;
}
